@use 'variaveis';

.header {


    
    &__container {
        padding: 32px 32px 16px;
        display: flex;
        justify-content: space-between;

        .button {
            color: variaveis.$corTextoPrincipal;
            list-style: none;
            text-decoration: none;
        }
    }

    &__logo {
        font-family: variaveis.$fontTitulo;
        color: variaveis.$corTextoPrincipal;
        max-width: 200px;
        width: 100%;
        border: none;

    }

    &__links {
        display: flex;

        &__item {
            font-family: variaveis.$fontTitulo;
            padding: 8px 24px;

            .profile {
                img {
                    max-width: 24px;
                }
            }
        }
    }
}