@use 'variaveis';
@use 'header';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container__landing {
    max-width: 1000px;
    width: 100%;
    margin: 150px;
    background-image: url(../../dist/images/Foto_capa.webp);
}

