@use 'variaveis';
@use 'header';
@use 'movie-info';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin text($fontSize: 18px) {
    font-size: $fontSize;
    line-height: $fontSize + 15px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 32px) {
    font-size: $fontSize;
    color: variaveis.$corTextoPrincipal;
}

.text--big {
    @include text(20px);
}

.text {
    @include text;
}

.text--small {
    @include text(14px);
}

.title--big {
    @include title(40px);
}

.title {
    @include title;
}

.title--small {
    @include title(24px)
}


.container {
    max-width: 1024px;
    width: 100%;


    &__landing {  
        background-image: url(../../dist/images/Foto_capa.jpg);    
        background-size: cover;
        }
    }

